{% extends 'base.html' %}
{% block 'title' %}Home | Rupam Dhara{% endblock 'title' %}
{% block 'content' %}
    <div class="container-fluid text-center py-5">
        <h1 class="mb-3">Website under maintenance...</h1>
        <h4 class="mb-4">Till Then Get in Touch</h4>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="contact-box">
                    <i class="fa-sharp fa-solid fa-phone-volume"></i> <br>
                    <a href="tel:6295828230">+91 6295828230</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-box">
                    <i class="fa-sharp fa-solid fa-envelope"></i><br>
                    <a href="mailto:rupamdhara.1579@gmail.com">rupamdhara.1579@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
{% endblock 'content' %}